# iOS directories
**/ios/**

# Android directories  
**/android/**

# C++ code
cpp/**

# Build outputs
lib/
build/
nitrogen/

# Dependencies
node_modules/ 

# Example projects (noble, js-sha3 etc.)
/*-example/
/*-master/
/*-main/

# Example vectors
example/src/vectors/